<div id="<%= dom_id torneio %>">
  <p>
    <strong>Nome:</strong>
    <%= torneio.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= torneio.descricao %>
  </p>

  <p>
    <strong>Data inicio:</strong>
    <%= torneio.data_inicio %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= torneio.data_fim %>
  </p>

  <p>
    <strong>Organizador:</strong>
    <%= torneio.organizador %>
  </p>

</div>
