<p style="color: green"><%= notice %></p>

<%= render @torneio %>

<div>
  <%= link_to "Edite este torneio", edit_torneio_path(@torneio) %> |
  <%= link_to "Voltar aos torneios", torneios_path %>

  <%= button_to "Destrua esse torneio", @torneio, method: :delete %>
</div>
