<p style="color: green"><%= notice %></p>

<%= render @inscricao %>

<div>
  <%= link_to "Edite esta inscrição", edit_inscricao_path(@inscricao) %> |
  <%= link_to "Voltar às inscrições", inscricaos_path %>

  <%= button_to "Destrua esta inscrição", @inscricao, method: :delete %>
</div>
