<p style="color: green"><%= notice %></p>

<%= render @permissao %>

<div>
  <%= link_to "Edite esta permissão", edit_permissao_path(@permissao) %> |
  <%= link_to "Voltar para permissões", permissaos_path %>

  <%= button_to "Destrua esta permissão", @permissao, method: :delete %>
</div>
