<p style="color: green"><%= notice %></p>

<%= render @usuario %>

<div>
  <%= link_to "Edite este usuário", edit_usuario_path(@usuario) %> |
  <%= link_to "Voltar para usuários", usuarios_path %>

  <%= button_to "Destrua esse usuário", @usuario, method: :delete %>
</div>
